:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan:hsl(186, 14%, 43%);
    --grayish-cyan:hsl(184, 14%, 56%);
    --light-grayish-cyan:hsl(185, 41%, 84%);
    --very-light-grayish-cyan:hsl(202, 50%, 97%);
    --white: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Mono, "sans-serif";
}

.flex-container {
    display: flex;
}


main, form, section, #generalOutputContainer, .formPairs{
    flex-direction: column;
}

h1, label {
    color: var(--dark-grayish-cyan);
}

::placeholder, span {
    color: var(--grayish-cyan);
}

input[type="number"]{
    background-color: var(--very-light-grayish-cyan);
    border: none;
    color: var(--very-dark-cyan);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"], .individualPercentageContainer {
    border-radius: 0.5rem;
}

.widerInputsContainer{
    background-color: var(--very-light-grayish-cyan);
    position: relative;
    justify-content: space-between;
    align-content: center;
    width: calc(100% + 0.8rem);
    border-radius: 0.5rem;
    
}

.widerInputsContainer > input {
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    width: 80%;
    text-align: end;
}

body {
    min-height: 100vh;
    background-color: var(--light-grayish-cyan);
}

main{
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 2rem 0;
}

form {
    background-color: var(--white); 
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
}

img{
    align-self: center;
    position: relative;
    left: 1.5rem;
}


#tipPercentageContainer{
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.8rem;
}

.individualPercentageContainer{
    background-color: var(--very-dark-cyan);
    color: var(--white);
    width: 100%;
    align-items: center;
    position: relative;
    padding: 0.9rem 0;
    
}

.individualPercentageContainer > p {
    position: absolute;
    width: 100%;
    text-align: center;
}

input[name="percentageInput"]{
    width: 100%;
    height: 100%;
    opacity: 0;
}

#customInput{
    text-align: center;
}

.individualPercentageContainer > p , #customInput{
    font-size: 1.3rem;
}


#generalOutputContainer{
    background-color: var(--very-dark-cyan);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    width: calc(100% + 0.8rem);

}

#generalOutputContainer > div {
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

#generalOutputContainer p {
    max-width: 60%;
    justify-self: flex-end;
}

input[type="reset"]{
    text-transform: uppercase;
    font-size: 1.3rem;
    height: 3.5rem;

}

h2 {
    color: var(--white);
    font-size: 1rem;
}

h2 span {
    font-size: 0.8rem;
}

#tipAmountOutput, #totalAmountOutput {
    font-size: 2rem;
    color: var(--strong-cyan);
}

input[type="reset"]{
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    border: none;
    width: 100%;
    align-self: center;
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

input[type="reset"]:hover{
    background-color: var(--white);
}

.formPairs:nth-child(1), .formPairs:nth-child(2), .formPairs:nth-child(3){
    gap: 0.5rem;
}

.formPairs:nth-child(1), .formPairs:nth-child(2) > label, #generalOutputContainer, .formPairs:nth-child(3) {
    position: relative;
    /*Right value to align items because of gap between inputs from the input container with the discounts*/
    right: 0.5rem; 
}

.individualPercentageContainer:hover {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

input:focus{
    outline: none;
}


@media (min-width:1280px){
    main{
        justify-content: center;
        align-items: center;
    }

    h1{
        margin: 5rem 3.5rem 0;
    }

    form {

        flex-direction: row;
        width: 60vw;
        max-width: 867px;
        padding: 3rem;
        gap: 10%;
    }
    

    section {
        gap: 2rem;
        width: 45%;
        height: 100%;
    }

    section:nth-child(2){
        width: 60%;
    }

    #tipPercentageContainer {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }



    #generalOutputContainer {
        max-width: 390px;
        margin-top: 0;
        gap: 2rem;
        padding: 1.3rem 1.7rem;
    }

    #generalOutputContainer > div {
        gap: 8%;
    }

    h2, span {
        font-size: 1rem;
    }

    h2 + p {
        position: relative;
        bottom: 0.5rem;
        font-size: 3rem !important;
    }

    input[type="reset"]{
        margin: 3.5rem 0 1rem;
    }
}

